body {
  font-family: 'Josefin Sans', 'Roboto Condensed', sans-serif;
  margin: 0;
  padding: 2rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; /* vertically center content */
  text-align: center;
  background-color: #f4f4f4;
  color: #333;
}

.centered-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem; /* spacing between h1 and h3 */
}

